bz2file==0.98
librosa==0.10.0.post2
madmom==0.17.dev0
matplotlib==3.7.0
numpy==1.23.5
pandas==1.5.3
plotly==5.14.1
python-dotenv==1.0.0
scikit_learn==1.2.2
scipy==1.10.0
seaborn==0.12.2
spotdl==4.1.4
spotipy==2.23.0
